.header{
    background-color: #131921;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 100;
}

.header_logo {
    margin-top: 18px;
    width: 100px;
    margin-left: 20px;
    margin-right: 20px;
    object-fit: contain;
}

.header__nav {
    display: flex;
    justify-content: space-evenly;
}

.header_search {
    display: flex;
    flex : 1 ;
}

.header_searchInput {
    height: 12px;
    padding: 10px;
    border: none;
    width: 100%;
}

.header_searchIcon {
    background-color: #cd9042;
    padding: 5px;
    height: 22px !important;
}

.header_link {
    color: white;
    text-decoration: none;
}

.header_optons {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;
}

.header_optonsLineOne {
    font-size: 10px;
}

.header_optonsLineTwo {
    font-size: 13px;
    font-weight: 800;
}

.header_optioBasket {
    display: flex;
    align-items: center;
}

.basket_count{
    margin-left: 10px;
    margin-right: 10px;
}